.container{
  
    /* border: 2px solid red; */
    
    }
    
    .container form{
        display: grid;
        grid-template-columns: auto auto ;
        grid-column-gap: 0px;
        grid-row-gap: 00px;
        padding: 5px;
    }
    
    form div{
        /* background-color: rgba(255, 255, 255, 0.8); */
            /* border: 1px solid black; */
            /* padding: 20px; */
            font-size: 15px;
            text-align: left;
            color:#717171; ;
            
    }
    form div div input{
        width: 30vw;
        height: 5vh;
    }
    
    form div div select{
        width: 30vw;
        height: 5vh;
    }
    
    
    .props{
        margin-top: 3vh;
    }
    .div1,.div3,.div5,.div7,.div9{
        margin-left: 20vw;
        margin-right: 5vw;
    }

    .footer{
        border: 1px solid #717171;
        display: flex;
        width: 71vw;
        margin-left: 20.5vw;
        height: 10vh;
        position: fixed;
    
    }
    .footer .div11 .props1 button{
        height: 6vh;
        margin-right: 48vw;
        margin-left: initial;
        margin-left: -18vw;
        width: 7vw;
        margin-top: 2vh;
    }
    
    .footer .div12 .props2 button{
        height: 6vh;
        margin-top: 2vh;
        width: 7vw;
        
    }